body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
  }
  
  h1 {
    text-align: center;
    font-size: 20px;
    color: #04AA6D;
  }
  
  label {
    font-weight: bold;
    font-size: 14px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #04AA6D;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  a {
    text-decoration: none;
    color: #04AA6D;
  }
  
  .forgot-password {
    text-align: right;
  }
  